body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


.header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #162f79;
    color: #ffffff;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}


.start-link {
    text-decoration: none;
    color: #525252;
    cursor: default;
}

.header-link {
    margin: 0;
    font-size: 24px;
    text-decoration: none;
    color: white;
    cursor: default;
}

.main-content {
    flex-grow: 1;
    margin-top: 80px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #162f79;
    color: #ffffff;
    text-align: center;
    padding: 10px;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.2);
}

.footer p {
    margin: 0;
    font-size: 14px;
}

.status-inserted {
    color: Green;
    font-weight: bold;
}

.status-updated {
    color: darkviolet;
    font-weight: bold;
}