.button {
    display: block;
    margin: 10px auto;
    width: calc(100% - 20px);
    background-color: #426df1;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 4px;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
}

.button:hover {
    background-color: #2948a1;
}

.button-back,
.engineering-menu-button {
    font-size: 14px;
    display: block;
    margin: 0 auto;
    width: calc(100% - 20px);
    background-color: #426df1;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
}

.engineering-menu-button:hover {
    background-color: #2948a1;
}

.add-button {
    background-color: #9a58b4;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    padding: 8px 12px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    margin-right: 15px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.add-button:hover {
    background-color: #341e79;
    transform: translateY(-2px);
}