{% extends 'index.html' %}
{% block content %}
<div class="form-container">
    <form action="/submit_one_url" method="post">
        <label for="url">Url</label>
        <input type="text" id="url" name="url"><br>
        <input type="submit" value="Insert or Update">
    </form>
    <div class="form-container_engineering">
        <button type="button"
                class="engineering-menu-button"
                onclick="window.location.href='/engineering-menu'">Engineering Menu</button>
    </div>
</div>


{% endblock %}