<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <meta name="description" content="Информация"/>
    <link href="{{ url_for('static', path='/1_style.css') }}" rel="stylesheet"/>
    <link href="{{ url_for('static', path='/2_forms.css') }}" rel="stylesheet"/>
    <link href="{{ url_for('static', path='/3_buttons.css') }}" rel="stylesheet"/>
    <link href="{{ url_for('static', path='/4_links_container.css') }}" rel="stylesheet"/>
    <link id="favicon" rel="icon" type="image/x-icon" href="{{ url_for('static', path='/favicon3.ico') }}"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>DigitalTube</title>
</head>
<body>
<header class="header">
    <h1>
        <a href="/add_url" class="header-link">DigitalTube</a>
    </h1>
</header>

<main class="main-content">{% block content %} {% endblock %}</main>
<footer class="footer">
    <p>© 2025</p>
</footer>
</body>
{% block scripts %} {% endblock %}
</html>