{% extends 'index.html' %}
{% block content %}
{% if result %}
<div class="form-container">
    <p><strong>Статус:</strong>
        <span class="{% if result.response == 'inserted' %}status-inserted{% elif result.response == 'updated' %}status-updated{% endif %}">
            {{ result.response.title() }}
        </span></p>
    <p><strong>Title:</strong> {{ result.title.title() }}</p>
    <p><strong>Source:</strong> {{ result.source.title() }}</p>
    <button class="engineering-menu-button" onclick="history.back()">Назад</button>
</div>
{% endif %}
{% endblock %}